@import './renderer/index.scss';

html {
  height: 100%;
}

body {
  background-color: #303030;
  color: white;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.content {
  padding: 8px;
}