@import './add-item/AddItem.scss';

.items-container {
  display: flex;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 16px;
  }

  .buttons {
    & > :not(:last-child) {
      margin-right: 16px;
    }
  }
}
